<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration> 
  <connectionStrings>
 <!--<add name="etsconnection" providerName="System.Data.SqlClient" connectionString="server=db205.my-hosting-panel.com;database=goggery_ets_dev_v2_1;uid=goggery_ets_devuser;pwd=etstestuser@17" />-->
	  <add name="etsconnection"  providerName="System.Data.SqlClient " connectionString="server=db205.my-hosting-panel.com; database=goggery_ets_dev;uid=goggery_ets_devuser;pwd=dev@123"/>
  </connectionStrings>
  <appSettings>
    <add key="logpath" value="~/ets_log/ets_log.txt"/>
    <add key="gridviewrowcount" value="20"/>
    <add key="requirementattachment" value="~/Files/RequirementAttachments/"/>
    <add key="shiftfilepath" value="~/Files/Shift/Shifting.xml"/>
    <add key="infomailid" value="nvalisetti@gmail.com"/>
    <add key="infomailpassword" value="navI@9642204896"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" defaultUrl="~/" />
    </authentication>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>    
</configuration>